[Unit]
Description=lume.io
After=network.target

[Service]
User=infamous
Group=infamous
WorkingDirectory=/home/infamous/lume+umbrella/apps/website/
ExecStart=/usr/local/bin/meteor -p 8765
Restart=always
StandardOutput=syslog
SyslogIdentifier=lume-website
Environment=BLAH=blah

[Install]
WantedBy=multi-user.target
