:root {
	/* root vars set in HomePage.ts using the styleVars object */

	/* This var has to be here so that it is ready before any JS is executed, for the initial payload style during load. */
	--dark-blue: rgb(13, 9, 98);
}

html {
	font-size: 1em;
	line-height: 1.4;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: white;
	background: var(--dark-blue);
	pointer-events: none;
	box-sizing: border-box;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}
h1 {
	font-weight: 300;
	padding-bottom: 40px;
}
h3 {
	font-weight: 300;
	text-transform: lowercase;
}

a:link,
a:visited,
a:hover,
a:active {
	font-weight: 500;
	transition: all 0.5s;
	color: rgba(195, 195, 195, 0.9);
	text-decoration: none;
}

a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Thin.otf);
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-ThinItalic.otf);
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-ExtraLight.otf);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-ExtraLightItalic.otf);
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Light.otf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-LightItalic.otf);
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Book.otf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-BookItalic.otf);
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Medium.otf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-MediumItalic.otf);
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Bold.otf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-BoldItalic.otf);
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Black.otf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-BlackItalic.otf);
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-Ultra.otf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url(/fonts/Gotham-UltraItalic.otf);
	font-weight: 800;
	font-style: italic;
}

body {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-perspective: 0;
	perspective: none;
	overflow: hidden;
	font-family: 'Gotham', 'Helvetica', sans-serif;
	font-size: 14px;
}

body.fadePageOut {
	opacity: 0;
	transition: opacity 0.5s;
}

.centerText {
	text-align: center;
	vertical-align: middle;
}

.hidden {
	display: none;
}

.invisible {
	opacity: 0 !important;
}

#loadingCover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dark-blue);
	transition: opacity 0.5s;

	loading-icon {
		--loading-icon-color: 76, 169, 195;
		--loading-icon-outer-radius: 60px;
		--loading-icon-inner-radius: 30px;
	}
}
