html,
body,
#root {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	background: radial-gradient(circle, rgb(23, 132, 252) 0%, rgb(0, 0, 198) 43.67%, rgb(13, 9, 98) 100%);
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}
h1 {
	font-weight: 300;
	padding-bottom: 40px;
}
h3 {
	font-weight: 300;
	text-transform: lowercase;
}

a:link,
a:visited,
a:hover,
a:active {
	font-weight: 500;
	transition: all 0.5s;
	color: rgba(195, 195, 195, 0.9);
	text-decoration: none;
}

a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'Gotham Bold';
	src: url(/fonts/Gotham-Bold.otf);
}

body {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-perspective: 0;
	perspective: none;
	overflow: hidden;
	font-family: 'Gotham Bold', 'Helvetica', sans-serif;
	font-size: 14px;
}

.centerText {
	text-align: center;
	vertical-align: middle;
}

_ {
	color: #224dd9;
	color: #0e4fe6;
	color: #0c47d1;
	color: #0636a6;
	color: #0729d7;
}
